*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-nav-bar{
    background-color: #000000;
    padding: 2vh;
}

.btn-red{
    background-color: #BF0607;
}
.bg-black-transparent{
    background: transparent url('img/earth-2254769_1280.png') 0% 0% no-repeat padding-box;
}

/* Textos */
.text-bold {
    font-weight: bold;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-grey{
   
    color: #666666;
}
.text-white{
    color: #ffffff;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
/* Botões */
.btn-red{
    width: 13vw;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
}

/* Navbar */
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-80{
    margin: 0 auto;
    width: 85%;
}

.banner-background{
   background-image: url(assets/world.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: center;
   height: 100vh;
   padding: 20vh 0 0 0;
}
.banner-textOne{
    width: 30%;
    margin-top: 150px;
}
.banner-textTwo{
    width: 33%;
    margin-top: 150px;
}
.btn-banner{
    margin-top: 170px;
    margin-left: 220px;
}
.history-store{
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0 10vh 0;
}
.history-store__box-text{
    width: 39%;
}
.history-store__box-text__line{
    display: block;
}
.history-store_image{
    width: 65%;
    text-align: center;
}
.history-store_image img{
    width: 80%;
}

.threeDescription{
    margin-bottom: 15vh;
    margin-top: 15vh;

}
.threeDescription_images
{
    width: 30%;
}
.threeDescription_images-box{
    width:100%;
    height: 45vh;
}
.threeDescription_images img {
    width: 100%;
    height: 80%;
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.threeDescription_title{
    width: 55vw;
    
}
.threeDescription_images-texts{
    margin-top: 50px;
}

.forms-contact{
    background: transparent url(assets/Imagem-banner-formulário.jpeg) 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 70vh;
    background-position-y: -140px;
}
.forms-contact__box{
    padding: 10vh 0 10vh 0;
    height: 70vh;
    align-items: center;
}
.forms-contact__box-title{
    width: 30%;
    color: #ffffff;
}
.form-control{
    background-color: #ffffff96;
    border: 1px solid #707070;
    height: 12.5vh;
    border-radius: 14px;
}
.forms-contact__box-forms{
    width: 47%;
}
.section-cel{
    background: #BF0607 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000029;
    opacity: 1;
    color: #ffffff;
}
.section-cel__text{
    width: 50%;

}
.section-cel__subtext{
    font-style: italic;
    width: 60%;
}
.section-cel__image{
    margin-top: -370px;
    width: 430px;
}

.section-cel_box-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-footer{
    background: #303030 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2rem;
}
.sub-footer__text{
    color: #666666;;
}

.partner{
    background-color: #000000;
}
.partner__box{
    width: 41.7%;
    margin-bottom: 10vh;
}
.partner__box-title{
    width: 30%;
    margin-top: 10vh;
    margin-bottom: 6vh;
}
.partner__box-title_title{
    text-align: end;
}

.sucess{
    background-color: #ACACAC;
    padding-top: 10vh;
}
.sucess-images{
    width: 46%;
    height: 100vh;
}
.sucess-texts{
    width: 50%;
}
.sucess-images_boxOne{
    display: flex;
    justify-content: space-between;
}

.sucess-images_boxOne img {
    width: 48%;
    
}
.sucess-images_boxOne-imgOne{
    margin-top: -33px;
    margin-bottom: 33px;
}
.sucess-images_boxOne-imgTwo{
    margin-bottom: -20px;
    margin-top: 20px;
}
.sucess-texts__boxOne{
    margin-right: 175px;
}
.sucess-texts__boxTwo{
    margin-left: 245px;
    text-align: end;
}


.circle1 {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 50%;

  }
  
.circle2 {
    transform: translate(4%, 4%);
    width: 70px;
    height: 70px;
    background-color: #010101;
    border-radius: 50%;
  }
  
  .circle3 {
    transform: translate(68%, 68%);
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;

  }
  .line-circle{
    border-left: 4px solid white;
    margin-top: 74px;
    margin-left: -313px;
    height: 100vh;
  }
  .mobile-on{
    display: none;
}
.desktop-on{
    display: block;
}
  @media screen and (max-width:900px){
      h2{
        font-size: 0.95rem;
     }
     p{
        font-size: 0.75rem;
     }
     .navbarMobile{
         width: 100%;
         margin: 0 auto;
     }
     .navbar-brand{
         width: 30%;
     }
     .navbar-nav{
        flex-direction: inherit;
        font-size: 14px;
        justify-content: space-between;
     }
     .circle1{
        width: 55px;
        height: 55px;
       }
       .circle2 {
        transform: translate(5%, 5%);
        width: 50px;
        height: 50px;
       }
       .circle3 {
        transform: translate(53%, 53%);
        width: 25px;
        height: 25px;
       }
       .line-mobile{
           display: flex;
           height: 10vh;
       }
       .line-circle {
        height: 41vh;
        margin-left: -32px;
        margin-top: 54px;
        }
        .line-desktop{
            display: none !important;
        }
       .banner-background{
        height: 50vh;
        background-position-x: center;
        padding: 5vh 0 0 0;
       }
       .banner-background_box{
           flex-direction: column;
           height: 0;
       }
       .banner-textOne {
            margin: 0;
            width: 80%;
            margin-left: 30px;
            margin-top: 66px;
        }
        .banner-textTwo {
        width: 100%;
        margin-top: 20px;
        }
        .btn-banner{
            margin-top: 10px;
            margin-left: 0;
        }
        .desktop-on{
            display: none;
        }
        .mobile-on{
            display: block;
        }
     .history-store__box-text{
         width: 100%;
     }
     .history-store__box-text__line h2{
        width: 60%;
     }
     .history-store_image{
         width: 100%;
     }
      .history-store{
        flex-direction: column-reverse;
        padding: 10vh 0 0vh 0;
      }
      .history-store__line{
        border-bottom: 3px solid #545b62;
        width: 48%;
        height: 2vh;
        margin-right: -44px;
        text-align: center;
        margin-top: -5px;
      }
      .history-store__box-text__line{
          display: flex;
      }
      .history-store__line{
          margin-bottom: 20px;
      }
      .sucess-box{
          flex-direction: column-reverse;
      }
      .sucess-texts {
        width: 100%;
    }
    .sucess-texts__boxOne {
        margin-right: 20px;
    }
    .sucess-texts__boxTwo {
        margin-left: 134px;
    }
    .sucess-images_boxOne-imgOne{
        margin: 2px 0 2px 0;
    }
    .sucess-images_boxOne-imgTwo{
        margin-top: 100px;
    }
    .sucess-images_boxOne img {
        width: 48%;
        height: 15vh;
    }
    .sucess-images {
        width: 45%;
        margin-top: -133px;
        max-height: 18vh;
    }
    .sucess-images_boxOne-imgTwo__mobile{
        display: none;
    }
    .sucess-images_boxOne-imgOne__mobile{
        margin-top: -90px;
    }
    .partner__box {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 2vh;
    }
    .partner__box-title {
        width: 40%;
    }
    .partner__box-title {
        margin-bottom: 2vh;
        margin-top: 5vh;
    }
    .btn-red {
        width: 100%;
        padding: 5px;
        font-size: 0.75rem;
        font-weight: bold;
    }
    .section-cel__text, .section-cel__subtext {
        margin-top: 20px;
        width: 100%;
    }
    .section-cel__box-image{
        width: 29%;
        margin-top: 20px;
    }
    .section-cel__image {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .section-cel_box-texts {
        width: 70%;
    }
    .forms-contact {
        height: 55vh;
        background-size: inherit;
    }
    .forms-contact__box {
        flex-direction: column;
        height: 5vh;
    }
    .forms-contact__box-title, .forms-contact__box-forms  {
        width: 100%;
    }
    .form-control {
        height: 7.5vh;
    }    
    .forms-contact__box-forms{
        margin-top: 20px;
    }
    .threeDescription {
        margin-top: 0;
        margin-bottom: 0;
        padding: 5vh 0 5vh 0;
    }
    .threeDescription_title {
        width: 100%;
    }
    .threeDescription_images-box {
        height: 15vh;
    }
    .threeDescription_images-texts {
        margin-top: 80px;
    }
  
  }