*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-nav-bar{
    background-color: #000000;
    padding: 2vh;
}

.btn-red{
    background-color: #BF0607;
}
.bg-black-transparent{
    background: transparent url('img/earth-2254769_1280.png') 0% 0% no-repeat padding-box;
}

/* Textos */
.text-bold {
    font-weight: bold;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-grey{
   
    color: #666666;
}
.text-white{
    color: #ffffff;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
    
}
a{
    text-decoration: none;
    color: #ffffff;
}
/* Botões */
.btn-red{
    width: 13vw;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    font-size: 25px;
}
.container-80{
    margin: 0 auto;
    width: 85%;
}

.banner-background{
   background-image: url(assets/world.jpeg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: center;
   height: 100vh;
   padding: 30vh 0 0 0;
}
.banner-textOne{
    width: 30%;
}
.banner-textTwo{
    width: 33%;
}
.btn-banner{
    margin-top: 170px;
    margin-left: 220px;
}
.history-store{
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0 10vh 0;
}
.history-store__box-text{
    width: 39%;
}
.history-store_image{
    width: 65%;
    text-align: center;
}
.history-store_image img{
    width: 80%;
}

.threeDescription{
    margin-bottom: 15vh;
    margin-top: 15vh;

}
.threeDescription_images
{
    width: 27%;
}
.threeDescription_images-box{
    width:100%;
    height: 45vh;
}
.threeDescription_images img {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 3vh;
}
.threeDescription_title{
    width: 55vw;
    
}

.forms-contact{
    background: transparent url(assets/Imagem-banner-formulário.jpeg) 0% 0% no-repeat padding-box;
    background-size: cover;
    height: 70vh;
    background-position-y: -140px;
}
.forms-contact__box{
    padding: 10vh 0 10vh 0;
    height: 70vh;
    align-items: center;
}
.forms-contact__box-title{
    width: 30%;
    color: #ffffff;
}
.form-control{
    background-color: #ffffff96;
    border: 1px solid #707070;
    height: 12.5vh;
    border-radius: 14px;
}
.forms-contact__box-forms{
    width: 47%;
}
.section-cel{
    background: #BF0607 0% 0% no-repeat padding-box;
    box-shadow: 6px 6px 6px #00000029;
    opacity: 1;
    color: #ffffff;
}
.section-cel__text{
    width: 50%;

}
.section-cel__subtext{
    font-style: italic;
    width: 60%;
}
.section-cel__image{
    margin-top: -370px;
    width: 430px;
}

.section-cel_box-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-footer{
    background: #303030 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 2rem;
}
.sub-footer__text{
    color: #666666;;
}

.partner{
    background-color: #000000;
}
.partner__box{
    width: 41.7%;
    margin-bottom: 10vh;
}
.partner__box-title{
    width: 30%;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.partner__box-title_title{
    text-align: end;
}

.sucess{
    background-color: #ACACAC;
    padding-top: 10vh;
}
.sucess-images{
    width: 43%;
}
.sucess-texts{
    width: 50%;
}
.sucess-images_boxOne{
    display: flex;
    justify-content: space-between;
}

.sucess-images_boxOne img {
    width: 48%;
}
.sucess-texts__boxOne{
    margin-right: 175px;
}
.sucess-texts__boxTwo{
    margin-left: 245px;
    text-align: end;
}